html {
	font-family: 'Lato', sans-serif;
	font-size: 110%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	html {
		font-size: 80%;
	}
}

body {
	padding: 0;
	margin: 0;
}

.main-header {
	text-align: center;
	background-color: #16210b;
	color: white;
	padding: 2em;
}
	.main-header h1 {
		margin: 0;
	}

	.main-header h2 {
		font-size: 1rem;
		font-weight: normal;
	}

	@media screen and (max-width: 400px) {
		.main-header {
			background-color: olive;
		}
	}



.card {
	position: relative;
	height: 30vh;
	width: 100%;
	background-image:url(img/valencia-small.jpg);
	background-size: cover;
	color: white;
	padding: .4em;
	font-family: 'Megrim', cursive;
}

	.card--valencia {
		background-image: url(img/valencia-small.jpg);
	}

	.card[data-city="mv"] {
		background-image: url(img/mv.jpg);
	}

	.card__title {
		margin: 0;
		text-align: center;
		font-size: 2rem;
	}

	.card__date {
		font-size: .7rem;
		margin: 0;
		text-align: center;
	}
	
	@media screen and (min-width: 800px) {
		.card {
			background-image:url(img/valencia.jpg);
		}
	}

	.card__info {
		position: absolute;
		bottom: .4em;
		left: .4em;
		background-color: rgba(0,0,0,0.5);
		padding: .4em;
		text-align: center;
	}

	.card__image {
		display: block;
	}
	.card__temp {
		display: block;
		font-size: 3rem;
		line-height: 1;
	}
	.card__maxt::before {
		content: "Max: ";
	}
	
	.card__mint::before {
		content: "Min: ";
	}












